<!doctype html>

<html>
<head>
	<title>Parking Pal</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Itim|Raleway|Rubik|Lobster">    
  <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon'/ >  
</head>

<body>
  <div class="jumbotron">
    <h1>Parking Pal</h1>
    <p>Find & Rent Parking Spots</p>
  </div>

	<div class="container">
		<div class='col-md-3'>
      <div class='well'>
    		<div class="input-group add-on">
      			<div class="input-group-btn">
        			<a href="/search" class="btn btn-primary" type="submit" id='index-button'>Find A Spot&nbsp;&nbsp;<i class='glyphicon glyphicon-search'></i></a>
      			</div>
    		</div>

      <br>

    		<div class="input-group add-on">
      			<div class="input-group-btn">
              <a href="/host_entry" class="btn btn-primary" type="submit" id='index-button'>Host A Spot&nbsp;&nbsp;<i class='glyphicon glyphicon-usd'></i></a>
      			</div>
    		</div>

        <br><br><br>
    		
      	<!--<div class="input-group-btn" id='help-btn'>-->
            <a href="/help" type="submit"><i class='glyphicon glyphicon-info-sign'></i> Help</a>
        <!--</div>-->
      </div>
    		
		</div>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">Made By<br><a href='https://github.com/rohaldb' target='_blank'>Ben</a>, <a href='https://github.com/oliverreyes' target='_blank'>Oliver</a> and <a href='https://github.com/csush' target='_blank'>Sushant</a>.</p>
    </div>
  </footer>  
  </div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
