<!doctype html>

<html>
<head>
	<title>Parking Pal</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Parking Pal</h1>
		</div>

		<a href='/' class="btn btn-default" type="submit">Home</a>

		<div class="col-md-3">
			<h4>Congratulations!</h4>
      		<p>Payment successful.</p>
		</div>
    
  </div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
