<!doctype html>

<html>
<head>
	<title>Search Results</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
     
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Parking Pal</h1>
		</div>
		<div class="col-md-3">
			<h4>Here are the results of your search</h4>
    		<div class="input-group add-on">
      			<div class="input-group-btn">
        			<a href="/payment" class="btn btn-default" type="submit">Select A Result</a>
      			</div>
    		</div>
   
   			<h4>Change your mind?</h4>
    		<div class="input-group add-on">
      			<div class="input-group-btn">
        			<a href="/search" class="btn btn-default" type="submit">Cancel</a>
      			</div>
    		</div>

  

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
