<!doctype html>

<html>
<head>
  <title>Parking Pal</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Itim|Raleway|Rubik|Lobster">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" /> 

    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>

</head>

<body>
  <div class="jumbotron">
    <h1>Parking Pal</h1>
    <p>Find & Rent Parking Spots</p>
  </div>

      <h3>My Google Maps Demo</h3>
    <div id="map"></div>

    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>

  	<div class='container'>
		<div class="col-md-3">
			<h4>Here are the results of your search</h4>


    		<div class="input-group add-on">
      			<div class="input-group-btn">
        			<div id="mapid"></div>
      			</div>
    		</div>
   
   			<h4>Change your mind?</h4>
    		<div class="input-group add-on">
      			<div class="input-group-btn">
        			<a href="/search" class="btn btn-default" type="submit">Cancel</a>
      			</div>
    		</div>
    	</div>
    </div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSY9pYyqipkYqlYksoNeCaCPqOAof9K04&callback=initMap">
    </script>
</body>
</html>
