/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

html, body {
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cb60b3+0,4b0082+0,4b0082+34,de47ac+100 */
    background: #cb60b3; /* Old browsers */
    background: -moz-linear-gradient(top,  #cb60b3 0%, #4b0082 0%, #4b0082 34%, #de47ac 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #cb60b3 0%,#4b0082 0%,#4b0082 34%,#de47ac 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #cb60b3 0%,#4b0082 0%,#4b0082 34%,#de47ac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=0 ); /* IE6-9 */
     height: 100%;
    background-repeat: no-repeat;
}

.jumbotron {
	position: relative;
	background: none;
     text-align: center;
     background-color: #4B0082;
     padding-bottom: 2px;
     padding-top: 2px;
}

.jumbotron h1{
     text-align: center;
     color: #ffffff;
     text-shadow: 2px 2px black;
     font-family: 'Lobster', sans-serif;
}

.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #ffffff;
}

.container {
     margin: auto;
     padding: 10px;
}

.container p{
     text-align: center;
}

.project a {
     text-align: center;
}

.well {
     border-radius: 10px;
     border-color: rgb(200, 200, 200);
     background: rgb(255, 255, 255);
     padding-left: 20px;
     padding-right: 20px;
}

.col-md-3 {
     margin: 0 auto;
     float: none;
     text-align: center;
} 

.col-md-3 a {
     text-align: left;
} 

#back-button {
     text-align: left;
}

#index-button {
     border-radius: 20px;
     background: rgb(255, 255, 255);
     color: #4B0082;
     border-color: #4B0082;
}

#proceed-button {
     border-radius: 20px;
     background: rgb(75, 0, 130);
     color: #4B0082;
     border-color: #4B0082;
     text-align: right;
}

#mapid {
     height: 180px;
}